
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">      
 
 <hibernate-configuration>
 	<session-factory>
 		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/BBQ</property>
 		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
 		<property name="hibernate.connection.username">root</property>
 		<property name="hibernate.connection.password">root</property>
 		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
 		<property name="hbm2ddl.auto">update</property>
 		<property name="javax.persistence.validation.mode">none</property>
 		<!-- format sql queries -->
 		<property name="hibernate.format_sql">true</property>
 		<!-- check queries -->
 		<property name="hibernate.show_sql">true</property>
 		
 		<!-- loading mapping file -->
 		<mapping resource="Entities/Order.hbm.xml"></mapping>
 		<mapping resource="Entities/Customer.hbm.xml"></mapping>
 		<mapping resource="Entities/Restaurant.hbm.xml"></mapping>
 		<mapping resource="Entities/Dishes.hbm.xml"></mapping>
 		<mapping resource="Entities/Comment.hbm.xml"></mapping>
 		<mapping resource="Entities/Reservation.hbm.xml"></mapping>
 		
 	</session-factory>
 </hibernate-configuration>       
        
        
        